<h1>Book List</h1>


{{#each booksArr}}
    <div class= "container-booklist">
        <p>
            Title: {{this.title}}
        </p>

        <p>
            Author: {{this.author}}
        </p>

        <a href="/books/{{this.id}}">More Details</a>


        <form action="/books/{{this._id}}/delete" method= "POST">
            <button> Delete </button>


        </form>


    </div>

{{/each}}

