<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker! This is our library! </p>
<h2>Mongoose and Express basic CRUD </h2>

<ul>
    <li>
        <a href="/books">Book List</a>
    </li>

    <li>
        <a href="/books/create">Create a Book</a>

    </li>





</ul>